.profile-first {
    display: grid;
    box-sizing: border-box;
    padding: 5px;
    margin: 10px;
    grid-template-columns: repeat(2,50%);
    align-items: center;
    justify-items: center;
}

.profile-face {
    width: 80px;
    height: 80px;
    border-radius: 100%;    
}

.profile-logout {

}