#product-modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    z-index: 10;
    padding: 30px 15px;
    background: rgba(25, 42, 50, 0.7);
    transition: all 150ms ease 0s;
    width:100%;
    height: 100%;
}

#product-modal {
    width: 1000px;
    height: 1000px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#product-modal > div {
    padding: 30px 15px;
    display: flex;
    justify-content: space-between;

}

#image {
    width: 450px;
    height: 450px;
    padding-bottom: 30px;
    display: flex;
    float: left;
}

#product-info {
    float: right;
    font-family: "proximanova", sans-serif;
    width: 368px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(240, 245, 247);
    border-image: initial;
    padding: 32px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
        height: fit-content;
}

#product-name {
    font-weight: 400;
    font-size: 18px;
    color: rgb(25, 42, 50);
    overflow-wrap: break-word;
}

#product-info > div {
    margin-bottom: 12px;
    
}

#product-info > button {
    height: 48px;
    font-size: 24px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgb(255, 86, 34);
    min-width: 140px;
    border-radius: 2px;
    cursor: pointer;

}

#product-price {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    font-family: "proximanova", sans-serif;
}

#discount {
    display: block;
    float: left;
        align-self: flex-end;
    font-size: 28px;
    line-height: 24px;
    margin-right: 12px;
    font-weight: bold;
    color: rgb(25, 42, 50);
        box-sizing: border-box;
}

#msrp {
    align-self: flex-end;
    font-size: 28px;
    margin-right: 12px;
    line-height: 24px;
    color: rgb(175, 199, 209);
    position: relative;
    text-decoration: line-through;
    display: block;
    box-sizing: border-box;
}

#review {
    width: 100%;
    border-top: 3px solid rgb(240, 245, 247);
    padding: 30px 17px;
    box-sizing: border-box;
    font-family: "proximanova", sans-serif;
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.review {
    box-sizing: border-box;
    margin-bottom: 24px;
    display: flex;
    text-align: left;
    font-family: "proximanova", sans-serif;
}

#review-title {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 700;
    font-family: "proximanova", sans-serif;
}

.review-profile {
    width: 40px;
    height: 40px;
    background-size: 40px;
    background-color: rgba(47, 183, 236, 0.3);
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(47, 183, 236);
    opacity: 1;
    flex-shrink: 0;
    border-radius: 100%;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
}

.review-info {
    box-sizing: border-box;
    margin-left: 16px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    flex: 1 1 0%;
    font-family: "proximanova", sans-serif;
    display: flex;
    text-align: left;
    flex-direction: column;
}

.review-user {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: rgb(25, 42, 50);
    flex: 1 1 0%;
    font-family: "proximanova", sans-serif;
    font-size: 16px;
    letter-spacing: 0.4px;
}

.review-time {
    font-size: 14px;
    font-weight: 400;
    margin-top: 4px;
    color: rgb(126, 154, 166);
    font-family: "proximanova", sans-serif;
    letter-spacing: 0.4px;
}   

.review-comment {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    flex: 1 1 0%;
    color: rgb(25, 42, 50);
    font-family: "proximanova", sans-serif;
    box-sizing: border-box;
    margin-top: 7px;
    overflow-wrap: break-word;
}

#post-review {
    display: flex;
    flex-direction: column;
}

#post-review input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#post-review button {
    width: 100%;
    background-color: rgb(47, 183, 236);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* #post-review button:hover {
    background-color: rgb(255, 86, 34);
} */