/* the splash page style isn't the same */
.splash {
  height: 100vh;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: "proximanova", sans-serif;
  background-color: rgba(25, 42, 50, 0.7);
  z-index: 0;
}

#title {
    color: white;
    font-size: 60px;
    font-family: "proximanova", sans-serif;
    z-index: 5;
}

#splash-box1 {
    z-index: 5;
}

.splash-item-container {
    width: 230px;
    height: 290px;
    padding: 10px;
}

#splash-products {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 10px;
  animation: slideshow-background 60s linear infinite;
}

#splash-background {
  z-index: 0;
  position: absolute;
  overflow: hidden;
  opacity: 0.5;
}

@keyframes slideshow-background {
  0% {transform: translateY(0%);}
  100% {transform: translateY(-5250px);}
  
}

/* splash Box */

#splash-box2 {
  display: flex;
  justify-content: space-around;
  background-color: white;
  width:700px;
}

#splash-rotate-ad {
  width:300px;
  height: 500px;
  top: 37px;
  left: -6px;
  position: relative;
  overflow: hidden;
}

@keyframes slideshow {
  0% {transform: translateX(0%);}
  10% {transform: translateX(-300px);}
  20% {transform: translateX(-600px);}
  30% {transform: translateX(-900px);}
  40% {transform: translateX(-1200px);}
  50% {transform: translateX(-1500px);}
  60% {transform: translateX(-1800px);}
  70% {transform: translateX(-2100px);}
  80% {transform: translateX(-2400px);}
  90% {transform: translateX(-2700px);}
  100% {transform: translateX(-3000px);}
}

/* i'd like to set an animation every 3 seconds to change a picture */
#splash-wrapper-carousel {
  animation: slideshow;
  display: flex;
  height: 100%;
  width: fit-content;
  animation-delay: 5s;
  animation-duration: 50s;
  animation-iteration-count: 10;
  animation-timing-function: ease-in-out;
  /* animation-timing-function: step-start; */
  /* animation-timing-function: cubic-bezier(1, 0.0, 1, 1); */

  /* forwards doesn't work b/c animation will still reset */
  animation-fill-mode: forwards;
}

#splash-wrapper-carousel img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.splash-prices {
  position: relative;
  top: 20px;
  display: flex;
  z-index: 6;
}

.splash-rotate-info-strike {
  background-color: rgb(239,141,46);
  font-size: 24px;
  font-weight: 700;
  padding: 12px;
  text-decoration: line-through;
  color: white;
  float: left;
}

.splash-rotate-info {
  background-color: rgb(239,141,46);
  font-size: 24px;
  padding: 12px;
  color: white;
  float: left;
}

.splash-chevron {
  width: 0px;
  height: 0px;
  display: inline-block;
  vertical-align: top;
  border-style: solid;
  border-width: 51px 20px 0px 0px;
  border-color: rgb(239, 141, 46) transparent transparent;
}

/* RHS of splashbox */

.splash-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 500px;
}

.splash-title {
  font-size: 24px;
  font-weight: 700;
  margin-top: 40px;
  text-align: center;
  line-height: 30px;
  max-width: 100%;
  padding: 0px 40px 16px 40px;
  color: rgb(25,42,50);
  font-family: "proximanova", sans-serif;
}

.splash-errors {
  color: red;
  font-size: 14px;
  font-weight: 400;
  max-width: 350px;
  text-align: center;
  list-style-type: none;
}

.splash-errors > ul {
  list-style-type: none;
}

.splash-input-wrapper {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
}

.splash-input-wrapper * {
    padding: 0px 5px;
    margin: 5px;
    color: rgb(25, 42, 50);
    background-color: rgb(248, 250, 251);
    box-shadow: 0px 2px 3px -3px inset;
    font-weight: 400;
    font-size: 16px;
    font-family: "proximanova", sans-serif;
    flex: 1 1 0%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(175, 199, 209);
    border-image: initial;
}

.splash-input-wrapper button {
    color: rgb(255,255,255);
    background-color: rgb(47,183,236);
    text-align: center;
    font-size: 16px;
}

#splash-swap {
    background-color: white;
    text-align: center;
    border-style: solid;
    border-color: rgb(47, 183, 236);
    color: rgb(47, 183, 236);
    text-align: center;
}